<div class="TradingView">
    <div class="debugPane">
        <div>DateLabelWidth: {{timePeriodsConfig.dateWidth}}</div>
        <div>TimeLabelWidth: {{timePeriodsConfig.timeWidth}}</div>
        <div>rightMostOffset: {{timePeriodsConfig.rightMostOffset}}</div>
        <div>rightMostLabel DT: {{timeLabels[0]?.timestamp?.toLocaleString(DateTime.DATETIME_SHORT)}}</div>
        <div>rightMostLabelAtPeriod: {{timePeriodsConfig.rightMostLabelAtPeriod}}</div>
        <div>rightMostPeriod: {{timePeriodsConfig.rightMostPeriod.toLocaleString(DateTime.DATETIME_SHORT)}}</div>
        <div>periodPixelLength: {{timePeriodsConfig.periodPixelLength}}</div>
        
    </div>
    <div class="PriceVolumeView">
        <div class="ToolBox">
            <button (click)="toggleHourView()" [class.toggled]="viewMode == enumViewMode.HOURLY">Hour</button>
            <button (click)="toggleDayView()" [class.toggled]="viewMode == enumViewMode.DAILY">Day</button>
            <span>Top Price: {{priceTop}} Bottom Price: {{priceBottom}}</span>
        </div>
        <div class="PriceView" #PriceView (pointerdown)="priceVolume_MouseDown($event)"
        (pointerup)="priceVolume_MouseUp($event)"
        [class.isScrolling]="timePeriodsConfig.isScrolling == true"
        [style.height]="resizingFlangeConfig.priceViewHeight">
            <div class="ViewPortCrossHairLayer">
                <div class="crosshair crosshair-x" [style.top.px]="crosshairY" [style.display]="showCrosshair == true ? 'block' : 'none' "></div>
                <div class="crosshair crosshair-y" [style.left.px]="crosshairX" [style.display]="showCrosshair == true ? 'block' : 'none' "></div>
                <div class="CandlesViewPort" #CandlesViewPort (mousemove)="onMouseMove($event)" (mouseleave)="hideCrossHair($event)">
                    <div class="CandlesContainer" [style.width.px]="candlesContainerConfig.width">
                        <div class="JapaneseCandle" *ngFor="let candle of japaneseCandles" [style.height.px]="candle.height"
                        [style.width.px]="candleWidth"
                        [style.right.px]="candle.offsetRight"
                        [style.top.px]="candle.offsetTop"
                        [attr.data-dateTime]="candle.dateTime"
                        [attr.data-priceClose]="candle.priceClose"
                        [attr.data-market]="candle.market"></div>
                    </div>
                </div>
            
                <div #priceLabels *ngFor="let label of priceLabels; let i = index" [attr.data-i]="i" class="priceLabel"
                    [style.right.px]="label.right" [style.top.px]="label.top"
                    [class.invisible]="label.invisible">
                    -{{label.text}}
                </div>
                <div #hoverPriceLabel class="priceLabel hovered"
                    [style.right.px]="hoverPriceLabelConfig.right" [style.top.px]="hoverPriceLabelConfig.top"
                    [class.invisible]="hoverPriceLabelConfig.invisible">
                    -{{hoverPriceLabelConfig.text}}
                </div>
            </div>
        </div>
        <div class="resizingFlange" (pointerdown)="resizingFlange_MouseDown($event)" (pointerup)="resizingFlange_MouseUp($event)"></div>
        <div class="VolumeView" #VolumeView (pointerdown)="priceVolume_MouseDown($event)"
        (pointerup)="priceVolume_MouseUp($event)"
        [class.isScrolling]="timePeriodsConfig.isScrolling == true"
        [style.height]="resizingFlangeConfig.volumeViewHeight">
            <div class="ViewPortCrossHairLayer">

            </div>
        </div>
        <!-- <div class="timePeriod" *ngFor="let period of timePeriodsConfig.periods" [style.width.px]="timePeriodsConfig.periodPixelLength">
        </div> -->
        <div class="timeLabels">
                <div class="timeLabel" *ngFor="let label of timeLabels"
                    [style.right.px]="label.right" [class.invisible]="label.invisible">
                    {{label.text}}
                </div>
        </div>
    </div>
</div>